<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/tests" />
        <option value="$PROJECT_DIR$/Modules/News/tests" />
        <option value="$PROJECT_DIR$/Modules/Deals/tests" />
        <option value="$PROJECT_DIR$/Modules/Tasks/tests" />
        <option value="$PROJECT_DIR$/Modules/Printer/tests" />
        <option value="$PROJECT_DIR$/Modules/Recipes/tests" />
        <option value="$PROJECT_DIR$/Modules/Weather/tests" />
        <option value="$PROJECT_DIR$/Modules/Briefing/tests" />
        <option value="$PROJECT_DIR$/Modules/Calendar/tests" />
        <option value="$PROJECT_DIR$/Modules/Lighting/tests" />
        <option value="$PROJECT_DIR$/Modules/PhonePing/tests" />
        <option value="$PROJECT_DIR$/Modules/Entertainment/tests" />
      </list>
    </option>
  </component>
</project>